:root {
  --background: #ffffff;
  --foreground: #171717;
  --rainbow-gradient: radial-gradient(
    circle,
    #ff6600 0%,
    #ffff00 50%,
    #00ffff 100%
  );
}

body {
  font-family: var(--font-alumni-sans), var(--font-kaisei-decol), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --rainbow-gradient: radial-gradient(
      circle,
      #ff6600 0%,
      #ffff00 50%,
      #00ffff 100%
    );
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /*color: var(--foreground);*/
  /*color: black;*/
  background: var(--rainbow-gradient);
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-family: "Custom-Mixed", sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

button {
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  padding: 0rem;
  border-radius: 8px;
  width: 15vw;
}

/*custom css*/

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes eastSide {
  25% {
    color: #00ffff;
  }
  50% {
    color: #ffff00;
  }
  75% {
    color: #ff6600;
  }
  100% {
    opacity: 1;
    color: black;
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}

@keyframes westSide {
  25% {
    color: #00ffff;
  }
  50% {
    color: #ff3300;
  }
  75% {
    color: #ffff00;
  }
  100% {
    opacity: 1;
    color: black; /* 白 */
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}

@keyframes topSide {
  0% {
    opacity: 0;
    transform: translateY(1rem) rotate(-360deg);
  }
  25% {
    color: #00ffff;
  }
  50% {
    color: #ff3300;
  }
  75% {
    color: #ffff00;
  }
  100% {
    opacity: 1;
    color: black; /* 白 */
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes bottomSide {
  0% {
    opacity: 0;
    transform: translateY(-1rem) rotate(360deg);
  }
  25% {
    color: #00ffff;
  }
  50% {
    color: #ff3300;
  }
  75% {
    color: #ffff00;
  }
  100% {
    opacity: 1;
    color: black;
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /*transform: translateX(0);*/
  }
}

button {
  font-size: 1rem;
}

.button {
  font-size: 1rem;
}

.poetry {
  font-size: 2.5rem;
}

.match {
  font-size: 1.5rem;
  color: mediumspringgreen;
  text-decoration: underline;
}
.dialog-poetry {
  font-size: 1.5rem;
}
.dialog-circle {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background: radial-gradient(circle, #ff6600 0%, #ffff00 50%, #00ffff 100%);
  max-width: 110vmin;
  max-height: 110vmin;
  min-width: 110vmin;
  min-height: 110vmin;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 500px) {
  .poetry {
    font-size: 2rem;
  }
  .button {
    font-size: 0.8rem;
  }
  .match {
    font-size: 1rem;
  }
  .dialog-poetry {
    font-size: 1rem;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.cell-bounce {
  animation: bounce 1.5s ease-in-out infinite;
}
